:root {
  --primary: #b8eef4;
  --bg-light: rgb(208,242,250);
  --bg-dark:  rgba(25, 188, 213, 0.5);
  --text-dark: #0f172a;
  --text-muted: #475569;
  --secondary: #19bcd5;
  --radius: 20px;
  --transition: 0.3s ease;
  --main-font: "Homenaje", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  width: 100%;
  height: 100vh;
}

body {
  background-color: var(--primary);
  font-family: var(--main-font); 
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  display: flex;
  flex-direction: column;
  width: 100%;
}

main{
  width: 100%;
  padding: 20px 120px;
  margin-top: 3%;
}

header .my-header{
  display: flex;
  width: 100%;
  background-color: var(--secondary);
  padding: 20px 120px;
  box-sizing: border-box;
}

.my-header nav{
  width: 100%;
  display: flex;
}

.my-header nav ul{
  width: 100%;
  display: flex;
  list-style-type: none;
  gap:10%;
  justify-content: flex-end;
}

.my-header ul li:hover{
  background-color: #19bcd5;
}

.my-header ul li a {
  text-decoration: none;
  color:rgb(91, 119, 176)
}

header .hero{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:20%;
  height: fit-content;
  padding:4%;
  margin-top: 13rem;
  padding: 5rem 120px 0 120px;
}

.hero .profile{
  display: flex;
  align-items: center;
  gap: 3%;
  width: 100%;
  position: absolute;
  top: 5rem;
}

.separator{
    width: 100%;
    height: 2px;
}

header .hero .description{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  width: 100%;
  padding: 40px 120px;
  background-color: var(--bg-light);
  border-radius: var(--radius);
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero .photo{
  width:300px;
  height: 300px;
  border: 6px solid rgba(25, 188, 213, 0.39);
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  animation: floatCard 6s ease-in-out infinite;
}

@keyframes floatCard {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

h1{
  font-size: 50px;
}

h2{
  font-size: 45px;
}

h3{
  font-size: 35px;
}

p{
  font-size: 30px;
}

.languages{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);
  border-radius: var(--radius);
  justify-content: space-between;
  padding: 20px 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  gap: 1rem;
}

.languages .logos{
  display: flex;
  width:100%;
  justify-content: space-between;
  z-index: 1;
}

.logos img{
  width:150px;
  height: 150px;
  border: 6px solid rgba(25, 188, 213, 0.39);
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  animation: floatCard 6s ease-in-out infinite;
}

.logos img:hover{
  border:6px solid var(--bg-dark);
  scale: 1.05;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.languages .waves{
  width: 100%;
  border-radius: var(--radius);
  display: grid;
  position: absolute;
  bottom:0;
  left: 0;
  z-index: -1;
  top:40px;
  overflow: hidden;
}

.languages .waves svg{
  opacity: 90%;
  width: 100%;
}

.languages .waves svg:last-child{
  position: absolute;
  grid-row-start: 1;
}

.projects-frame{
  background-color: var(--bg-light);
  justify-content: space-around;
  border-radius: 15px;
  padding: 2%;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-x: hidden;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  position: relative;
  gap: 1rem;
}

.projects-frame{
  visibility: hidden;
}

.projects-frame iframe{
  border: unset;
}

.outer-container{
  width: 100%;
  
  position: relative;
}

.card-projects{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(2 1fr);
  gap: 3%;
  
}

.card-projects div{
  width: 500px;
  background-color:aliceblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}
