html {
  width: 100%;
  height: 100vh;
}

body {
  width: 100%;
  height: 100vh;
  /* background-color: lightblue;*/
  font-family: "Homenaje", sans-serif; 
  font-weight: 400;
  font-style: normal;
  margin: 0;
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.logo{
  margin: 0;
}

.site-header{
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: rgb(91, 119, 176);
  background: linear-gradient(
    to bottom,
    #dff5ff 0%,   
    #bdeaff 100%  
  );
  position: sticky;
}

.site-header h1 {
  padding: 20px 0;
  font-size: 30px;
}
.site-header > div {
  padding: 20px 0;
}

.hero-content{
  margin: 0 10% 0 10%;
}

/* .main-nav{
  width:90%;
  display: flex;
  flex-direction: row;
  position:sticky;
  justify-content: space-between;
  font-size: 25px;
  padding: 20px 0;
}

.main-nav div {
  padding: 20px 0;
}

.main-nav nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-nav nav ul {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
  top:0;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0 20px;
  text-align: right;
}

ul li:hover{
  background-color: #19bcd5;
}

ul li a {
  text-decoration: none;
  color:rgb(91, 119, 176)
} */


main {
  width: 100%;
  height: auto;
  background: linear-gradient(
    to bottom,
    #b8eef4 0%,   
    #19bcd5 100%  
  );
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.side-menu{
  grid-row-start: span 3;
  font-size: 25px;
  border-right:6px solid rgba(25, 188, 213, 0.2);
}

.side-menu nav{
  position: fixed;
}

.side-menu ul {
  list-style-type: none;
  top:0;
  margin: 0;
  padding: 0;
}

.side-menu ul li {
  padding: 20px 20px;
}

.side-menu ul li:hover{
  background-color: #19bcd5;
}

.side-menu ul li a {
  text-decoration: none;
  color:rgb(91, 119, 176)
}

.hero{
  background-color: rgb(208, 242, 250);
  border-radius: 15px;
  padding: 2%;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-x: hidden;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 250px;
  position: relative;
}

.hero-content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: center;
}
.hero img{
  margin-left: 10%;
  width:200px;
  height: 200px;
  border: 6px solid rgba(25, 188, 213, 0.5);
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  animation: floatCard 6s ease-in-out infinite;
}

@keyframes floatCard {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

.hero-content h2{
  width: 100%;
  font-size: 25px;
}

.hero-content p{
  font-size: 22px;
  margin: 0;
}

.waves{
  width: 100%;
  display: grid;
  position: absolute;
  bottom:0;
  left: 0;
  z-index: 0;
}

.waves svg{
  opacity: 90%;
}

.waves svg:last-child{
  position: absolute;
  grid-row-start: 1;
}

.projects{
  background-color: aliceblue;
  justify-content: space-around;
  border-radius: 15px;
  padding: 2%;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-x: hidden;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: auto;
  position: relative;
}

.projects div{
  display: flex;
  column-gap: 12em;
}

.projects img{
  width:100px;
  height: 100px;
  border: 6px solid rgba(25, 188, 213, 0.5);
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
  animation: floatCard 6s ease-in-out infinite;
}

/* h1 {
  color: white;
  text-align: center;
}

p {
  font-family: "Homenaje", sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 15px;

}

ul {
  list-style-type: none;
  position:sticky;
  top:0;
  margin: 0;
  padding: 0;
  background-color: #5054d4;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
}

ul li a:hover {
  background-color: #111111;
}
.bottom-table {
    table-layout:fixed;
    bottom: 3pc;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
    position:static;
}

.bottom-table th, .bottom-table td {
    padding: 2px;
}

.container {
    display: flex;
    align-items: center; 
    gap: 10px; 
    padding: 5px;
}

.img {
    width: 250px;
    border-radius: 10px;
}

.text {
    font-size: 18px;
} */

/* table{
  margin: auto;
  width: 80%;
  border: 3px solid;
  border-radius: 10px;
  padding: 10px;
} */
