body {
  background-color: lightblue;
  font-family: "Homenaje", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  width: 80%;
  padding: 10px;
  
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: "Homenaje", sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 15px;

}

ul {
  list-style-type: none;
  position:sticky;
  top:0;
  margin: 0;
  padding: 0;
  background-color: #5054d4;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
}

ul li a:hover {
  background-color: #111111;
}
.bottom-table {
    table-layout:fixed;
    bottom: 3pc;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 3px solid;
    border-radius: 10px;
    padding: 10px;
    position:static;
}

.bottom-table th, .bottom-table td {
    padding: 2px;
}

.container {
    display: flex;
    align-items: center; 
    gap: 10px; 
    padding: 5px;
}

.img {
    width: 250px;
    border-radius: 10px;
}

.text {
    font-size: 18px;
}

/* table{
  margin: auto;
  width: 80%;
  border: 3px solid;
  border-radius: 10px;
  padding: 10px;
} */
